{
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "project": "./tsconfig.json"
  },
  "extends": [
    "airbnb-typescript",
    "plugin:react/recommended",
    "plugin:@typescript-eslint/recommended",
    "plugin:@typescript-eslint/recommended-requiring-type-checking",
    "plugin:prettier/recommended",
    "prettier",
    "prettier/@typescript-eslint",
    "plugin:jest/all",
    "plugin:eslint-comments/recommended"
  ],
  "plugins": ["@typescript-eslint", "react", "react-hooks", "prettier", "jest", "eslint-comments"],
  "rules": {
    "prettier/prettier": "error",
    "eslint-comments/no-unused-disable": "error",
    "jest/prefer-expect-assertions": "off"
  }
}
